.home-docente {
    display:grid;
    grid-template-rows: auto 1fr;
    width: 100vw; /* 100% del ancho de la ventana de visualización */
    height: 100vh; /* 100% de la altura de la ventana de visualización */
}
.container-sid{
    display: grid;
    width: 100hw;
    grid-template-columns: auto 1fr;
}
.content{       
    background-color: #9EACBA;
}
